# Data Visualisation

### Import libraries

In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

### Import file

In [7]:
file_1 = pd.read_csv('Datasets/File_1.csv', low_memory=False)
file_1 = file_1.drop('Unnamed: 0', axis=1)
file_1

,timestamp,icao24,latitude,longitude,ground_speed,track,vertical_rate,callsign,onground,alert,spi,squawk,baro_altitude,altitude,last_position,hour
0,2022-10-01 17:22:01,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
1,2022-10-01 17:22:02,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
2,2022-10-01 17:22:03,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
3,2022-10-01 17:22:04,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
4,2022-10-01 17:22:05,4853d1,52.304360,4.766124,NaN,NaN,NaN,TRA13Y,True,False,False,NaN,NaN,NaN,2022-10-01 17:22:00.300,1664636400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083769,2022-10-30 22:09:35,484133,52.305061,4.769783,141.226646,183.247343,0.0,KLM76T,False,False,False,7124.0,40000.0,NaN,2022-10-30 22:04:39.505,1667163600
1083770,2022-10-30 22:09:36,484133,52.305061,4.769783,141.226646,183.247343,0.0,KLM76T,False,False,False,7124.0,40000.0,NaN,2022-10-30 22:04:39.505,1667163600
1083771,2022-10-30 22:09:37,484133,52.305061,4.769783,141.226646,183.247343,0.0,KLM76T,False,False,False,7124.0,40000.0,NaN,2022-10-30 22:04:39.505,1667163600
1083772,2022-10-30 22:09:38,484133,52.305061,4.769783,141.226646,183.247343,0.0,KLM76T,False,False,False,7124.0,40000.0,NaN,2022-10-30 22:04:39.505,1667163600
1083773,2022-10-30 22:09:39,484133,52.305061,4.769783,141.226646,183.247343,0.0,KLM76T,False,False,False,7124.0,40000.0,NaN,2022-10-30 22:04:39.505,1667163600

### Create scatterplot

In [ ]:
plt.scatter(file_1['longitude'], file_1['latitude'], c=file_1['altitude'], cmap='viridis', alpha=0.5)
plt.title('Flight Trajectories')
plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.colorbar(label='Altitude')
plt.show()